.footer {
  clear: both;
  width: 100%;
  background-color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1rem;
  margin-top: 100px;
  padding: 1rem 0;
  position: relative;

  &::before {
      content: url('/cat.png');
      position: absolute;
      top: -100px;
      left: calc(50% - 28px);
  }
}