// -------------------------------
// 変数設定
// -------------------------------

// ---------- mode ----------
$breakpoints:(
  'pc': 1400px,
  'sp': 768px
);

// ---------- media ----------
@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

// ---------- font ----------
%caveat {
  font-family: 'Caveat';
}

// ---------- color ----------
$header-color: rgba(227, 247, 187, 0.8);
$bg-color: #c9edc6;
$h2-color: #829c6f;
$p-color: #666666;
$link-color: #000000, #34d6e6;
$logo: #f5d888;